*{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* body */
body {
  padding: 15px;
  background-color: #7A918D;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
  /* font: Belleza; */
}

/* footer */
footer {
  background-color: white;
  color: #1E2D2F;
  box-shadow: 5px 5px 3px #c57b57;
  margin-top: 12px;
}
footer  p {
  margin-top: 1em;
  margin-left: 1em;
  padding: .2em;
}

/* main */
.main {
  background-color: rgba();
  color: white;
  height: 80vh;
}
.mainDiv {
  margin: auto;
  padding: 30px 0 0 15px;
}


/* Sidebar */
.sidebar-list-styling{
  padding: 30px 0 0 15px;
  width: 12%;
  background-color: rbga();
  color: #1E2D2F;
}
.sidebar-list a{
  color: white;
  padding: .5em; 
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font: bolder;
}
.sidebar-list a:hover{
  background-color: #c57B57;
}
.sidebar-route{
  flex: 1;
  padding: '00px';
}
.sidebar {
  display: flex;
  background-color: rgba();
  margin-top: 10px;
}
ul {
  list-style-type: none;
}

/* header */
.header {
  margin-top: 0.5em;
  text-align: center;
  background-color: white;
  color: #1E2D2F;
  box-shadow: 5px 5px 3px #c57b57;
}
.header a {
  color: #1E2D2F;
}
.header p {
  margin-top: 0.8em;
}